<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main1.css') }}">
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <form class="form-horizontal" method="POST" action="">
                <div class="preview">
                    <h2 class="text-center">Form Submitted Succesfully.</h2>
                    <button name="register" type="submit" class="btn btn-primary" style="margin">Click here to submit another form</button><br>
                    <input name="home" type="submit" class="btn btn-primary" style="margin" value="Click here to Go to homepage">
                 </div>
                
                <div style="display: none;" class="form-group plain_html"><textarea rows="50"
                        class="form-control"></textarea></div>
            </form>
        </div>
     <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
